<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.freezeframe" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LoginActivity"
            android:label=""
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="New Account"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ForgotActivity"
            android:label="Verify Credentials" >
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" >
        </activity>
        <activity
            android:name=".GlassActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PickGlassesActivity" >
        </activity>
        <activity android:name=".MyProfileActivity" >
        </activity>
        <activity android:name=".DetailActivity" >
        </activity>
        <activity android:name=".AboutActivity" >
        </activity>
    </application>

</manifest>
